.background-main {
  min-height: 389px;
  background-position: center;

  @media (min-width: $tablet-width) {
    min-height: 518px;
  }
}

.background-main__image {
  width: 282px;

  @media (min-width: $tablet-width) {
    width: 461px;
  }
}
