.booking {
  margin-top: 33px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-top: 58px;
  }
}

.booking__wrap {
  padding: 0 20px;
  max-width: 458px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.booking__space {
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.booking__title {
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.booking__description {
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }
}

.booking__map-wrap {
  position: relative;
  margin: 0;
  margin-top: 49px;
}

.booking__google-map {
  position: relative;
  z-index: 2;
  height: 350px;
  width: 100%;
  border: none;
}

.booking__map {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  height: 350px;
  width: 100%;
  object-fit: cover;
}
