.booking {
  padding: 33px 20px 10px 20px;
  text-align: center;
}

.booking__map {
  height: 350px;
  margin-top: 49px;
}

.booking__button {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 458px;
  }
}
