.copyright__text {
  font-size: 14px;
  line-height: 26px;
  margin: 0;
  margin-right: 15px;
}

.copyright__icon {
  display: block;
  width: 27px;
  height: 34px;
  fill: black;
}

.copyright__link {
  width: 27px;
  height: 34px;
  display: block;

  &:focus .copyright__icon,
  &:hover .copyright__icon {
    fill: $main-blue;
  }

  &:active .copyright__icon {
    fill: rgba(black, 0.3);
  }
}
