.copyright__text {
  font-size: 14px;
  line-height: 26px;
  margin: 0;
  margin-right: 15px;
}

.copyright__link {
  width: 27px;
  height: 34px;
}

.copyright__icon {
  fill: black;

  &:hover {
    fill: $main-blue;
  }

  &:active {
    fill: rgba(0, 0, 0, 0.3);
  }
}
