.features__header {
  padding: 0 18px 0 17px;
  margin: 32px 0 11px 0;
  text-align: center;
}

.features__description {
  line-height: 26px;
}

.features__wrap {
  padding: 0 20px;
  background-color: $main-grey;
}
