.features-primary {
  background-color: $main-blue;
  text-align: center;
}

.features-primary__wrap {
  color: white;
  background-color: $main-blue;
  padding: 39px 15px 39px 15px;
}

.features-primary__list {
  background-color: white;
  padding: 35px 11px 35px 70px;
  list-style: none;
  margin: 0;
  text-align: left;
}

.features-primary__number {
  line-height: 21px;
  color: white;

  &::before,
  &::after {
    content: "—";
  }
}

.features-primary__description {
  line-height: 21px;
  color: white;
}

.features-primary__img {
  display: block;
}
