.features-primary {
  background-color: $main-blue;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
  }

  &--second {
    @media (min-width: $tablet-width) {
      grid-template-columns: 2fr 1fr;
    }
  }
}

.features-primary__wrap {
  color: white;
  background-color: $main-blue;
  padding: 74px 0 39px;

  @media (min-width: $tablet-width) {
    padding: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 10px;
    padding-left: 60px;
    padding-right: 60px;
  }

  &--second {
    padding-top: 39px;
    padding-bottom: 34px;

    @media (min-width: $tablet-width) {
      grid-column: 2;
      grid-row: 1;
      padding: 30px;
    }

    @media (min-width: $desktop-width) {
      grid-column: 2;
      grid-row: 1;
      padding-top: 10px;
      padding-left: 90px;
      padding-right: 90px;
      padding-bottom: 21px;
    }
  }
}

.features-primary__list {
  background-color: white;
  padding: 28px 20px 37px;
  list-style: none;
  margin: 0;
  text-align: left;

  @media (min-width: $tablet-width) {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 58px;
    padding: 60px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 50px 78px;
    grid-column-gap: 100px;
  }
}

.features-primary__element {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 11px;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    grid-row-gap: 25px;
    justify-items: center;
    margin-bottom: 0;

    &--food {
      grid-column: 2/2;
      grid-row: 1/1;
    }

    &--souvenirs {
      grid-column: 3/3;
      grid-row: 1/1;
    }
  }
}

.features-primary__title-benefit {
  align-self: center;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 26px;
  }
}

.features-primary__description-benefit {
  grid-column: 2/3;

  @media (min-width: $tablet-width) {
    text-align: center;
    grid-row: 3/3;
    grid-column: 1/1;
    padding: 0 2px;

    &--food {
      padding: 0 20px;
    }
  }

  @media (min-width: $desktop-width) {
    &--food {
      padding: 0;
    }
  }
}

.features-primary__souvenirs-indent {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.features-primary__number {
  line-height: 21px;
  color: white;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 3px;

  @media (min-width: $tablet-width) {
    margin-top: 10px;
    margin-bottom: 25px;
  }

  &::before,
  &::after {
    content: "—";
    margin-left: 2px;
    margin-right: 2px;
  }
}

.features-primary__title {
  @media (min-width: $tablet-width) {
    width: 151px;
    margin: 0 auto;
    font-size: 21px;
    line-height: 26px;
  }
}

.features-primary__description {
  line-height: 21px;
  color: white;
}

.features-primary__img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 258px;
  background-color: $main-menu-active;

  @media (min-width: $tablet-width) {
    height: 257px;
  }
}

.features-primary__icon {
  width: 40px;
  height: 37px;
  grid-row: 1/2;
  fill: $main-blue;

  @media (min-width: $tablet-width) {
    &--housing {
      width: 75px;
      height: 73px;
    }

    &--souvenirs {
      width: 64px;
      height: 76px;
    }

    &--food {
      width: 76px;
      height: 70px;
    }
  }
}
