.intro {
  border-bottom: $border-grey 1px solid;
  padding: 34px 20px 31px;
  text-align: center;

  &--form {
    padding-bottom: 20px;
  }

  @media (min-width: $tablet-width) {
    padding: 64px 25px 80px;
    width: 485px;
    border: none;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;

    &--form {
      padding-top: 112px;
      padding-bottom: 49px;
    }
  }
}

.intro__title {
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    margin-bottom: 28px;
    font-size: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 33px;
  }
}

.intro__description {
  font-size: 14px;
  line-height: 24px;
}
