.logo-nav {
  position: absolute;
  display: block;
  width: 102px;
  height: 84px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 2;

  @media (min-width: $tablet-width) {
    top: 0;
  }

  @media (min-width: $desktop-width) {
    width: 187px;
    height: 97px;
  }
}

.logo-nav__icon {
  width: 102px;
  height: 84px;

  @media (min-width: $desktop-width) {
    width: 187px;
    height: 97px;
  }
}
