.main-form {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 60px;
    padding-right: 60px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 960px;
    padding-left: 0;
    padding-right: 0;
  }
}

.main-form__block {
  border: none;
  border-bottom: $border-grey 1px solid;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  padding-bottom: 25px;

  &--emotion {
    border-bottom: none;
    padding: 0;
  }

  @media (min-width: $tablet-width) {
    grid-column: 1/3;
    border: none;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 65px;
    margin-top: 0;

    &--feedback {
      grid-column: 1/1;
      grid-row: 1/1;
      padding-right: 13%;
    }

    &--visitor {
      grid-column: 2/2;
      grid-row: 1/1;
      border-left: $six-grey 1px solid;
      padding-left: 13%;
    }

    @media (min-width: $desktop-width) {
      &--contacts {
        margin-bottom: 52px;
      }
    }
  }
}

.main-form__submit {
  @media (min-width: $tablet-width) {
    grid-column: 1/3;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.main-form__title {
  display: block;
  text-align: center;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    margin-bottom: 53px;

    &--borders {
      display: flex;
      align-items: center;
      width: 100%;

      &::before,
      &::after {
        content: "";
        flex-grow: 1;
        flex-shrink: 0;
        height: 1px;
        background-color: $six-grey;
      }

      &::before {
        margin-right: 60px;
      }

      &::after {
        margin-left: 60px;
      }
    }

    &--visitor,
    &--feedback {
      text-align: left;
    }
  }

  @media (min-width: $desktop-width) {
    &--contacts {
      margin-bottom: 70px;
    }

    &--feedback {
      text-align: center;
    }
  }
}

.main-form__label {
  position: relative;
  line-height: 26px;

  &--visitor {
    margin-right: 15px;
  }

  &--contacts {
    display: block;
    margin-left: 20px;
    margin-bottom: 8px;
  }

  &--radio,
  &--checkbox {
    margin-left: 68px;
  }

  @media (min-width: $desktop-width) {
    &--contacts {
      margin-left: 0;
      margin-bottom: 0;
      margin-right: 17px;
    }
  }
}

.main-form__field {
  display: block;
  font-family: inherit;
  background-color: $third-grey;
  border: 4px solid $third-grey;
  width: 100%;
  padding: 14px 22px 10px;

  &--textarea {
    resize: vertical;
    min-height: 160px;
    max-height: 600px;
  }

  &:hover {
    background-color: $border-grey;
    border: 4px solid $border-grey;
  }

  &:focus,
  &:active {
    background-color: white;
    border: 4px solid $border-grey;
    outline: none;
  }

  @media (min-width: $desktop-width) {
    &--tel,
    &--email {
      width: 258px;
    }
  }
}

.main-form__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    &--places {
      display: grid;
      grid-template-columns: 210px 210px;
      grid-column-gap: 10%;
      grid-row-gap: 40px;
      justify-content: center;
    }
  }

  @media (min-width: $desktop-width) {
    &--contacts {
      display: flex;
      justify-content: space-between;
    }

    &--places {
      display: flex;
      justify-content: space-between;
      grid-gap: 0;
    }
  }
}

.main-form__item {
  position: relative;
  margin-bottom: 20px;

  &--visitor {
    display: flex;
    align-items: center;
  }

  &--feedback,
  &--places {
    min-height: 58px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 10px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    &--feedback {
      margin-bottom: 20px;
    }

    &--places {
      margin-bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    &--contacts {
      display: flex;
      align-items: center;
      margin-bottom: 0;
    }
  }
}

.main-form__button {
  width: 100%;
  margin-bottom: 50px;
  margin-top: 50px;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 50%;
  }
}

.main-form__wrap {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.main-form__contacts-wrap {
  display: flex;

  &::after {
    content: "";
    display: block;
    width: 58px;
    background-color: $fifth-grey;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
  }

  &--tel::after {
    background-image: url("../img/icon-phone.svg");
  }

  &--email::after {
    background-image: url("../img/icon-mail.svg");
  }
}

.main-form__hint {
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.main-form__tel-part {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-form__radio-input {
  position: relative;
  margin: 0;
  padding-left: 5px;
  appearance: none;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -34px;
    width: 56px;
    height: 56px;
    border: 28px solid $third-grey;
    border-radius: 50%;
  }

  &:hover::before,
  &:focus::before {
    border-color: $border-grey;
  }

  &:active::before {
    border-color: $radio-active;
  }

  &:checked::before {
    content: "";
    position: absolute;
    left: 0;
    top: -34px;
    width: 56px;
    height: 56px;
    background-color: $second-black;
    border: 18px solid $third-grey;
    border-radius: 50%;
  }

  &:checked:hover::before,
  &:checked:focus::before {
    border-color: $border-grey;
  }

  &:checked:active::before {
    background-color: rgba(51, 51, 51, 0.3);
    border-color: $radio-active;
  }
}

.main-form__checkbox-icon {
  position: absolute;
  left: 17px;
  top: 20px;
  display: none;
  pointer-events: none;
  fill: $second-black;
}

.main-form__checkbox-input {
  position: relative;
  margin: 0;
  padding-left: 5px;
  appearance: none;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -34px;
    width: 56px;
    height: 56px;
    background-color: $third-grey;
    border-radius: 5px;
  }

  &:hover::before,
  &:focus::before {
    background-color: $border-grey;
  }

  &:active::before {
    background-color: rgba(51, 51, 51, 0.3);
  }

  &:checked + .main-form__checkbox-icon {
    display: block;
  }

  &:checked:active + .main-form__checkbox-icon {
    display: block;
    fill: rgba(51, 51, 51, 0.3);
  }

  &:checked::before {
    content: "";
    position: absolute;
    left: 0;
    top: -34px;
    width: 56px;
    height: 56px;
    background-color: $third-grey;
    border-radius: 5px;
  }

  &:checked:hover::before,
  &:checked:focus::before {
    background-color: $border-grey;
  }

  &:checked:active::before {
    background-color: $radio-active;
  }
}
