.main-form {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 60px;
    padding-right: 60px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 960px;
    padding-left: 0;
    padding-right: 0;
  }
}

.main-form__block {
  border: none;
  border-bottom: $border-grey 1px solid;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  padding-bottom: 25px;

  &--places {
    margin-top: 17px;
    padding-bottom: 21px;
  }

  &--emotion {
    border-bottom: none;
    padding: 0;
  }

  @media (min-width: $tablet-width) {
    grid-column: 1/3;
    border: none;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 65px;
    margin-top: 0;

    &--feedback {
      grid-column: 1/1;
      grid-row: 1/1;
      padding-right: 13%;
    }

    &--visitor {
      grid-column: 2/2;
      grid-row: 1/1;
      border-left: $six-grey 1px solid;
      padding-left: 17%;
    }

    &--contacts {
      margin-bottom: 54px;
    }

    &--places {
      margin-bottom: 68px;
    }

    &--emotion {
      margin-bottom: 60px;
    }

    @media (min-width: $desktop-width) {
      &--contacts {
        margin-bottom: 52px;
      }

      &--visitor {
        padding-left: 16%;
      }
    }
  }
}

.main-form__submit {
  @media (min-width: $tablet-width) {
    grid-column: 1/3;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.main-form__borders {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;

    &::before,
    &::after {
      content: "";
      flex-grow: 1;
      flex-shrink: 0;
      height: 1px;
      background-color: $six-grey;
    }

    &::before {
      margin-bottom: 7px;
      margin-right: 60px;
    }

    &::after {
      margin-bottom: 7px;
      margin-left: 60px;
    }

    &--emotion {
      &::before {
        margin-right: 75px;
      }

      &::after {
        margin-left: 75px;
      }
    }
  }
}

.main-form__title {
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;

  &--contacts {
    margin-bottom: 15px;
  }

  @media (min-width: $tablet-width) {
    font-size: 21px;
    margin-bottom: 53px;

    &--borders {
      width: 100%;
    }

    &--visitor,
    &--feedback {
      text-align: left;
      padding-top: 10px;
      margin-left: 0;
      margin-right: 0;
    }

    &--visitor {
      margin-left: 3px;
    }

    &--contacts {
      padding-top: 5px;
      margin-bottom: 20px;
    }

    &--places {
      margin-bottom: 40px;
    }
  }

  @media (min-width: $desktop-width) {
    &--contacts {
      margin-bottom: 70px;
    }

    &--feedback {
      margin-left: 80px;
    }
  }
}

.main-form__label {
  position: relative;
  line-height: 26px;

  &--visitor {
    margin-right: 15px;
  }

  &--contacts {
    display: block;
    margin-left: 20px;
    margin-bottom: 8px;
  }

  &--radio {
    margin-left: 75px;

    &::before {
      content: "";
      position: absolute;
      left: -75px;
      top: -17px;
      width: 56px;
      height: 56px;
      border: 28px solid $third-grey;
      border-radius: 50%;
    }

    &:hover::before,
    &:focus::before {
      border-color: $border-grey;
    }

    &:active::before {
      border-color: $radio-active;
    }
  }

  &--checkbox {
    margin-left: 80px;

    &::before {
      content: "";
      position: absolute;
      left: -80px;
      top: -17px;
      width: 56px;
      height: 56px;
      background-color: $third-grey;
      border-radius: 5px;
    }

    &:hover::before,
    &:focus::before {
      background-color: $border-grey;
    }

    &:active::before {
      background-color: $radio-active;
    }
  }

  @media (min-width: $desktop-width) {
    &--contacts {
      margin-left: 0;
      margin-bottom: 0;
      margin-right: 17px;
    }
  }
}

.main-form__radio-input {
  &:checked + .main-form__label--radio::before{
    background-color: $second-black;
    border: 18px solid $third-grey;
  }

  &:checked + .main-form__label--radio:hover::before,
  &:checked + .main-form__label--radio:focus::before {
    border-color: $border-grey;
  }

  &:checked + .main-form__label--radio:active::before {
    background-color: rgba($second-black, 0.3);
    border-color: $radio-active;
  }
}

.main-form__checkbox-input {
  &:checked + .main-form__checkbox-icon {
    display: block;
    fill: $second-black;
  }

  &:checked:active + .main-form__checkbox-icon {
    display: block;
    fill: rgba($second-black, 0.3);
  }
}

.main-form__field {
  display: block;
  font-family: inherit;
  background-color: $third-grey;
  border: 4px solid $third-grey;
  width: 100%;
  min-width: 180px;
  padding: 14px 18px 10px;

  &--textarea {
    resize: vertical;
    min-height: 160px;
    max-height: 600px;
    padding: 5px 17px;
  }

  &:hover {
    background-color: $border-grey;
    border: 4px solid $border-grey;
  }

  &:focus,
  &:active {
    background-color: white;
    border: 4px solid $border-grey;
    outline: none;
  }

  @media (min-width: $tablet-width) {
    &--textarea {
      padding: 15px 17px 5px;
    }
  }

  @media (min-width: $desktop-width) {
    &--tel,
    &--email {
      width: 258px;
    }
  }
}

.main-form__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    &--places {
      display: grid;
      grid-template-columns: 210px 210px;
      grid-column-gap: 8%;
      grid-row-gap: 30px;
      justify-content: center;
      margin-left: 12px;
    }
  }

  @media (min-width: $desktop-width) {
    &--contacts {
      display: flex;
      justify-content: space-between;
    }

    &--places {
      display: flex;
      justify-content: space-between;
      grid-gap: 0;
      margin-left: 0;
    }
  }
}

.main-form__item {
  position: relative;
  margin-bottom: 20px;

  &--contacts {
    margin-bottom: 14px;
  }

  &--visitor {
    display: flex;
    align-items: center;
  }

  &--feedback,
  &--places {
    min-height: 58px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 10px;
  }

  &--places {
    margin-bottom: 21px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    &--feedback {
      margin-bottom: 20px;
    }

    &--contacts {
      margin-bottom: 22px;
    }

    &--places {
      margin-bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    &--contacts {
      display: flex;
      align-items: center;
      margin-bottom: 0;
    }
  }
}

.main-form__button {
  width: 100%;
  margin-top: 47px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding-left: 5px;
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    padding-left: 16px;
  }
}

.main-form__wrap {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.main-form__contacts-wrap {
  display: flex;

  &::after {
    content: "";
    display: block;
    width: 58px;
    background-color: $fifth-grey;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
  }

  &--tel::after {
    background-image: url("../img/icon-phone.svg");
  }

  &--email::after {
    background-image: url("../img/icon-mail.svg");
  }
}

.main-form__hint {
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.main-form__tel-part {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-form__checkbox-icon {
  position: absolute;
  left: 17px;
  top: 20px;
  display: none;
  pointer-events: none;
  fill: $second-black;
  z-index: 2;
}
