.page {
  min-width: 320px;
  height: 100%;
  font-size: 14px;
  font-family: $main-font;
  line-height: 26px;
}

.page__body {
  min-height: 100%;
  margin: 0;
  background-color: white;
  color: black;
  text-transform: uppercase;
}

.page__wrap {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  max-width: $desktop-width;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}
