.social__list {
  display: flex;
  list-style: none;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.social__item {
  margin-right: 6px;

  &:last-child {
    margin-right: 0;
  }
}

.social__icon {
  fill: white;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  background-color: $main-blue;

  &:hover,
  &:focus {
    background-color: $button-hover;
  }

  &:active {
    background-color: $button-active;

    .social__icon {
      fill: rgba(255, 255, 255, 0.3);
    }
  }
}
