.video {
  margin-top: 32px;
  margin-bottom: 45px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    margin-top: 53px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 63px;
    margin-bottom: 85px;
    max-width: 800px;
  }
}

.video__wrap {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    width: 446px;
    margin: 0 auto;
    margin-bottom: 60px;
  }
}

.video__title {
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}
