.video {
  margin-top: 32px;
  margin-bottom: 46px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    margin-top: 55px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 63px;
    margin-bottom: 91px;
    max-width: 800px;
  }
}

.video__wrap {
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    width: 446px;
    margin: 0 auto;
    margin-bottom: 82px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 76px;
  }
}

.video__title {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 34px;
    font-size: 30px;
  }
}

.video__description {
  line-height: 24px;
}
