$mainblue: #81B3D2;
$secondblack: #333;
$maingrey: #EEEEEE;
$secondgrey: #D6D6D6;
$bordergrey: #E5E5E5;
$thirdgrey: #F2F2F2;
$forthgrey: #EAEAEA;
$fifthgrey: #E6E6E6;
$sixgrey: #DBDBDB;

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width: 767px; 