$mainblue: #81b3d2;
$secondblack: #333333;
$maingrey: #eeeeee;
$secondgrey: #d6d6d6;
$bordergrey: #e5e5e5;
$thirdgrey: #f2f2f2;
$forthgrey: #eaeaea;
$fifthgrey: #e6e6e6;
$sixgrey: #dbdbdb;

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width: 767px;

$wrap-padding: 0 20px;
