$main-blue: #81b3d2;
$second-black: #333333;
$main-grey: #eeeeee;
$second-grey: #d6d6d6;
$border-grey: #e5e5e5;
$third-grey: #f2f2f2;
$forth-grey: #eaeaea;
$fifth-grey: #e6e6e6;
$six-grey: #dbdbdb;
$radio-active: #d5d5d5;
$player-grey: #5c6870;

$main-menu-active: #766357;
$main-menu-hover: #604e43;
$button-hover: #669ec0;
$button-active: #5496bd;

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width: 767px;

$main-font: "PT Sans", "Arial", sans-serif;
